.Login_page{
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
  margin: 0;
  padding: 0;
  
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000038;
}
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;

}
form .input-box input:focus{
  border: 1px solid #4070f4;
}
form .button input:hover{
  background: #4070f4;
  color: #fff;
  outline: none;
}


input.ng-dirty.ng-invalid {
  border-left: 10px solid red;
}
input.ng-valid{
  border-left: 10px solid rgb(0, 255, 76);
}
  // .input_forget{
  //   width: 20%;
   
  //   button{
  //     width: 101px;
  //     margin: 12px 113px;
  //     border: none;
  //     background: #2c7aef;
  //     border-radius: 6px;
  //     padding: 4px;
  //     color: #fff;
  //   }
  // }
  .input_button{
    width: 20%;
  }
  .text{
    font-size: 15px;
    
    h3{
      font-size: 15px;
      margin: 5px;
    }
  }
  // .input-box1{
  //   width: 79%;
  //   margin: 0 0px 0px 47px;
  // }
// .Forget_Data{
//   width: 30%;
//     padding: 10px;
//     margin: auto;
//     box-shadow: 0px 0px 5px #000;
//     background: #fff;
//     border-radius: 8px;
//     // position: absolute;
//     // top: 30%;
//     // left: 35%;
// }
.Forget_Bg{
  background: #00000047;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .Forget_Data {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 0px 15px 11px #9f9b9b;
    border-radius: 4px;
    text-align: center;
    max-width: 350px;
    width: 350px;
    position: relative;
    h1 {
      font-size: 32px;
      font-family: cursive;
    }
    form {
      input {
        margin: 10px 0;
        width: 100%;
        padding-left: 5px;
      }
    }
    .input_forget {
      button {
        width: 50%;
        border: none;
        background-color: #4070f4;
        color: #fff;
        border-radius: 4px;
        padding: 5px 0;

        &:hover {
          background-color: #0746f5;
        }
      }
    }
    i {
      border: 1px solid;
      border-radius: 2px;
      font-size: 16px;
      position: absolute;
      top: 4px;
      right: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 1px;
      cursor: pointer;

      &:hover {
        background-color: red;
        color: #fff;
        border-color: red;
      }
    }
  }

  .show {
    overflow-y: hidden;
  }
  .hide {
    overflow: scroll;
  }
  .primary {
    color:  red;
    background-color: #0746f5;
    border : 4px solid red;
  } 
  .secondary{
  color: green;
  background-color: #07f56a;
  border : 4px solid rgb(199, 11, 11);
}

}
.OTP{
  display: flex;
  // max-width: 25px;
  gap: 23px;
  input{
      width: 40px;
  }
}