
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light nav-iteam">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a (click)="ClickLogo()" class="navbar-brand mt-2 mt-lg-0" href="javascript:void(0);">
        <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15" alt="MDB Logo"
          loading="lazy" />
      </a>
      <!-- Left links -->
      <div class="collapse navbar-collapse Navbar-items" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="House" [routerLinkActive]="['active']">Houses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!Avatar" routerLink="signin">Register</a>
            <a class="nav-link" *ngIf="Avatar" (click)="myadds()">My adds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!Avatar" routerLink="login">login</a>
          </li>
          <!-- Bread-Crumbs....>>>> -->

          <!-- <li class="container">
            <xng-breadcrumb [autoGenerate]="true">
              <div *xngBreadcrumbItem="let breadcrumb of breadcrumb">
                <p [routerLink]="breadcrumb.url">{{breadcrumb}}</p>
              </div>
            </xng-breadcrumb>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- {{storeUser | json}}123$$ -->
    <div class="d-flex align-items-center" *ngIf="Avatar">

      <div (click)="onToggle()" class="Dark">
        <i *ngIf="Dark_Mode" class="fa-solid fa-moon"></i>
        <i *ngIf="!Dark_Mode" class="fa-regular fa-moon"></i>
      </div>

      <a class="text-reset me-3" href="javascript:void(0);">
        <i (click)="goToFavPage()" class="fa-regular fa-heart">
        </i>
        <span class="badge rounded-pill badge-notification bg-danger" *ngIf="favvvT.length">{{favvvT.length}}*</span>
      </a>

      <!-- Notifications -->

      <div class="dropdown">
        <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="javascript:void(0);" id="navbarDropdownMenuLink"
          role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
      </div>

      <!-- Avatar -->

      <div class="dropdown">
        <div class="dropdown">
          <!-- User SignUp Select Image same image display that code.. -->
          <div  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <div *ngIf="storeUser.file">
            <img src={{storeUser.file}} class="rounded-circle" height="25" alt="Man" loading="lazy"/>
          </div>

          <!-- Has no images selected -->
          <div class="img-logo" *ngIf="!storeUser.file">
            <img
              src="https://hackernoon.imgix.net/images/MNpvxjkj4YXFoFu06UAdmXaTZM52-au03xfo.jpeg?auto=format&fit=max&w=1920"
              class="rounded-circle" height="25" alt="Man" loading="lazy"  />
            </div>
          </div>
          <ul class="dropdown-menu user" aria-labelledby="dropdownMenuButton1">
            <div class="arrow">&#9650;</div> 
            <li><a class="dropdown-item" href="javascript:void(0);"><i class="fa-solid fa-user"></i>&nbsp;
                {{storeUser.Username}}</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#sample"
                (click)="GotoCreatePage()">Create Houses</a></li>
            <li class="logOut"><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#dummy"
                href="javascript:void(0);"><i class="fa-solid fa-power-off"></i> &nbsp;Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- LogOut PopUp 00000-->

<div class="modal fade" id="dummy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header header">
        <div>
          <h4>Logout <i class="fa fa-lock"></i></h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body"><i class="fa fa-question-circle"></i> are You Confirm the logout</div>
        <div class="modal-footer"><a href="javascript:;" class="btn btn-primary btn-block" data-bs-dismiss="modal"
            aria-label="Close" (click)=" logout()">Logout</a></div>
      </div>
    </div>
  </div>
</div>

<button class="Scrolling" *ngIf="isShow" (click)="gotoTop()">👆</button>
<!-- <a href="https://fakestoreapi.com/products" target="_blank">Hello</a> -->

